In [1]:
import pandas as pd

In [1]:
import pandas as pd

In [3]:
import pandas as pd

In [4]:
fake_df = pd.read_csv("Fake.csv")
true_df = pd.read_csv("True.csv")

In [5]:
fake_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Yearâ€™...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obamaâ€™s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [6]:
true_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [7]:
print("Fake news shape:", fake_df.shape)
print("True news shape:", true_df.shape)

print("\nFake columns:", fake_df.columns)
print("True columns:", true_df.columns)

Fake news shape: (23481, 4)
True news shape: (21417, 4)

Fake columns: Index(['title', 'text', 'subject', 'date'], dtype='object')
True columns: Index(['title', 'text', 'subject', 'date'], dtype='object')

In [8]:
# Step 4.1: Add labels
fake_df['label'] = 0   # Fake news
true_df['label'] = 1   # Real news

# Step 4.2: Combine both datasets
df = pd.concat([fake_df, true_df], axis=0)

# Step 4.3: Shuffle the dataset
df = df.sample(frac=1).reset_index(drop=True)

# Check final dataset
df.shape

(44898, 5)

In [9]:
df.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [10]:
# Add labels
fake_df['label'] = 0   # Fake news
true_df['label'] = 1   # Real news

print("Labels added")

Labels added

In [11]:
# Combine both datasets
df = pd.concat([fake_df, true_df], axis=0)

# Shuffle the data
df = df.sample(frac=1).reset_index(drop=True)

print("Combined dataset shape:", df.shape)

Combined dataset shape: (44898, 5)

In [12]:
import re

def clean_text(text):
    text = text.lower()                  # lowercase
    text = re.sub(r'\d+', '', text)       # remove numbers
    text = re.sub(r'[^\w\s]', '', text)   # remove punctuation
    text = re.sub(r'\s+', ' ', text)      # remove extra spaces
    return text.strip()

In [13]:
df['clean_text'] = df['text'].apply(clean_text)

In [14]:
df[['text', 'clean_text']].head()

,text,clean_text
0,BAGHDAD (Reuters) - Iraqi forces completed an ...,baghdad reuters iraqi forces completed an oper...
1,When listening to Congress discuss matters of ...,when listening to congress discuss matters of ...
2,Donald Trump infamously went further into the ...,donald trump infamously went further into the ...
3,Wow! @FoxBusiness @JeffFlock just WENT OFF on ...,wow foxbusiness jeffflock just went off on whi...
4,Tim Allen took to Twitter to express his disap...,tim allen took to twitter to express his disap...

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [16]:
X = df['clean_text']   # input text
y = df['label']        # output (0 = Fake, 1 = Real)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print("Training data size:", X_train.shape)
print("Testing data size:", X_test.shape)

Training data size: (35918,)
Testing data size: (8980,)

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
tfidf = TfidfVectorizer(
    max_df=0.7,
    stop_words='english'
)

In [20]:
X_train_tfidf = tfidf.fit_transform(X_train)
X_test_tfidf = tfidf.transform(X_test)

print("TF-IDF training shape:", X_train_tfidf.shape)
print("TF-IDF testing shape:", X_test_tfidf.shape)

TF-IDF training shape: (35918, 189820)
TF-IDF testing shape: (8980, 189820)

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [22]:
X_train[:3]

36335                      obama leaves usa deeper in debt
12384    london reuters us president barack obama said ...
24419    as the majority of americans are completely de...
Name: clean_text, dtype: object

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(
    max_features=5000,
    stop_words='english'
)

X_train_tfidf = tfidf.fit_transform(X_train)
X_test_tfidf = tfidf.transform(X_test)

print("TF-IDF Train shape:", X_train_tfidf.shape)
print("TF-IDF Test shape:", X_test_tfidf.shape)

TF-IDF Train shape: (35918, 5000)
TF-IDF Test shape: (8980, 5000)

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [26]:
# STEP 4.1: Create the model
model = LogisticRegression(max_iter=1000)

# STEP 4.2: Train the model
model.fit(X_train_tfidf, y_train)

print("âœ… Model training completed")

âœ… Model training completed

/Users/ashutoshtiwari/Library/Python/3.9/lib/python/site-packages/sklearn/linear_model/_linear_loss.py:209: RuntimeWarning: divide by zero encountered in matmul
  norm2_w = weights @ weights if weights.ndim == 1 else squared_norm(weights)
/Users/ashutoshtiwari/Library/Python/3.9/lib/python/site-packages/sklearn/linear_model/_linear_loss.py:209: RuntimeWarning: overflow encountered in matmul
  norm2_w = weights @ weights if weights.ndim == 1 else squared_norm(weights)
/Users/ashutoshtiwari/Library/Python/3.9/lib/python/site-packages/sklearn/linear_model/_linear_loss.py:209: RuntimeWarning: invalid value encountered in matmul
  norm2_w = weights @ weights if weights.ndim == 1 else squared_norm(weights)

In [27]:
y_pred = model.predict(X_test_tfidf)

print("âœ… Predictions generated")

âœ… Predictions generated

In [28]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

print("\nClassification Report:\n")
print(classification_report(y_test, y_pred))

Accuracy: 0.989086859688196

Classification Report:

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      4788
           1       0.98      0.99      0.99      4192

    accuracy                           0.99      8980
   macro avg       0.99      0.99      0.99      8980
weighted avg       0.99      0.99      0.99      8980

In [29]:
def predict_news(text):
    text_clean = tfidf.transform([text])
    prediction = model.predict(text_clean)
    return "REAL NEWS" if prediction[0] == 1 else "FAKE NEWS"

In [30]:
sample_news = "The government announced a new education policy today."
print(predict_news(sample_news))

FAKE NEWS

In [31]:
def predict_news(news_text):
    # Clean text the same way as training
    cleaned_text = clean_text(news_text)
    
    # Convert text to TF-IDF
    text_vector = tfidf.transform([cleaned_text])
    
    # Predict
    prediction = model.predict(text_vector)
    
    return "REAL NEWS ðŸŸ¢" if prediction[0] == 1 else "FAKE NEWS ðŸ”´"

In [32]:
sample_news = """
Breaking News: Scientists discover water on Mars,
raising hopes for future human settlement.
"""

print(predict_news(sample_news))

FAKE NEWS ðŸ”´

In [33]:
import pickle

# Save trained model
with open("fake_news_model.pkl", "wb") as f:
    pickle.dump(model, f)

# Save TF-IDF vectorizer
with open("tfidf_vectorizer.pkl", "wb") as f:
    pickle.dump(tfidf, f)

print("Model and TF-IDF saved successfully")

Model and TF-IDF saved successfully